.acadinnerbox {
  display: flex;
  /* border: 2px solid red; */
}
.acadinnerleftbox {
  min-width: 60%;
  width: 60%;
  /* border: 2px solid red; */
}
.acadinnerrightbox {
  /* border: 2px solid red; */
}
#img1 {
  width: 100%;
  /* height: 900px; */
}
#img2 {
  width: 100%;
}
.acadinnerleftbox p {
  width: 70%;
  font-size: 1.4vw;
  font: normal normal normal 18px/30px Montserrat;
}
.acadinnerleftbox h1 {
  width: 70%;
  color: #2f497c;
}
