.helpfont {
  font-size: 8px;
}

.helpcontent {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  /* border: 2px solid red; */
  min-height: 60vh;
  align-items: center;
}

.helpleft {
  display: flex;
  flex-direction: column;
  width: 40%;
  /* border: 2px solid red; */
}

.helpbottomheading {
  margin: auto;
  width: 100%;
  max-height: 350px;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  /* border: 2px solid red; */
  z-index: -1;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #d1c5c5;
}

.helpbottomheading h1 {
  font-family: "Montserrat";
  font-size: 55em;

  opacity: 0.1;
  font-weight: bold;
  letter-spacing: 3vw;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  margin: auto;
}

.helpright {
  display: flex;
  flex-direction: column;
  width: 37%;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3.8em;
  /* border: 2px solid red; */
}

.helpright h1 {
  font-size: 2.9em;
  font-family: "Montserrat";
  padding-bottom: 0.9em;
  font-weight: 500;
}

.helpleft p {
  font-size: 1.6em;
}

.helpleft h1 {
  font-weight: bolder;
  font-family: "Montserrat";
}

.helpback {
  display: flex;
  width: 79%;
  align-items: center;
  margin: auto;
  margin-top: 14vh;
}

.helpback i {
  cursor: pointer;
}

.helpback h6 {
  cursor: pointer;
}

#padding {
  margin-bottom: 10px;
}

.helpsection:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgb(206, 24, 201);
  z-index: -1;
  clip-path: circle(65.2% at -2% 53%);
}

@media only screen and (max-width: 1450px) {
  .helpbottomheading {
    height: 270px;
    font-size: 76%;
  }

  .helpcontent {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 40px;

    min-height: 0vh;
    align-items: none;
  }
}

@media only screen and (max-width: 1180px) {
  .helpfont {
    font-size: 7px;
  }

  .helpbottomheading {
    height: 250px;
    font-size: 75%;
  }
}

@media only screen and (max-height: 560px) {
  .helpbottomheading {
    max-height: 200px;
  }
}

@media only screen and (max-width: 993px) {
  .helpbottomheading {
    height: 230px;
    font-size: 5px;
  }

  .helpcontent {
    width: 90%;
  }

  .helpback {
    margin-top: 130px;
  }

  .helpsection:before {
    clip-path: circle(65.2% at -3% 56%);
  }

  .helpback {
    width: 90%;
  }
}

@media only screen and (max-width: 943px) {
  .helpbottomheading {
    height: 210px;
    font-size: 70%;
  }

  .helpbottomheading h1 {
    letter-spacing: 0px;
  }

  .helpfont {
    font-size: 40%;
  }
}

@media only screen and (max-width: 770px) {
  .helpfont {
    font-size: 35%;
  }

  .helpbottomheading {
    height: 210px;
    font-size: 70%;
  }
}

@media only screen and (max-width: 690px) {
  .helpfont {
    font-size: 35%;
  }

  .helpbottomheading {
    height: 180px;
    font-size: 65%;
  }

  .helpright {
    width: 45%;
  }

  .helpleft {
    width: 45%;
  }
}

@media only screen and (max-width: 625px) {
  .helpbottomheading {
    height: 170px;
    font-size: 60%;
  }

  .helpsection:before {
    clip-path: circle(65.2% at -13% 53%);
  }
}

@media only screen and (max-width: 555px) {
  .helpfont {
    font-size: 25%;
  }

  .helpbottomheading {
    height: 140px;
    font-size: 70%;
  }
}

@media only screen and (max-width: 555px) {
  .helpcontent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0px; */
    margin-top: 20px;
  }

  .helpright {
    width: 80%;
    margin-top: 30px;
  }

  .helpleft {
    width: 80%;
  }

  .helpfont {
    font-size: 40%;
  }

  .helpbottomheading {
    height: 140px;
    font-size: 60%;
  }

  .helpbottomheading {
    height: 140px;
    font-size: 40%;
  }
}

@media only screen and (max-width: 430px) {
  .helpbottomheading {
    height: 120px;
    font-size: 35%;
  }
}

@media only screen and (max-width: 380px) {
  .helpbottomheading {
    height: 100px;
    font-size: 30%;
  }
}