@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

.more {
  position: absolute;
  background: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0.5px 0.5px 8px rgba(7, 5, 5, 0.2);
  cursor: pointer;
  border: none;
}
.start-image{
  position: absolute;
  top: "45px";
  right: 20;
  width: 50vw;
}
.main-text{
  position: relative;
  top: 120px;
  padding-left: 60px;
}
.more i {
  margin: auto 5px;
  color: #da544f;
}
.student-text{
  height: 50px;
  margin-top: 20px;
  text-align: left;
  font: normal normal 800 30px/49px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.header {
  display: inline-block;
  margin: 1vh 4vw;
  margin-top: 10vh;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 2.2rem;
  position: relative;
  cursor: pointer;
}

.header::after {
  content: "";
  height: 5px;
  width: 55%;
  background: linear-gradient(90deg, #ce19c9, #da544f);
  position: absolute;
  left: 4px;
  border-radius: 1px;
  bottom: -4px;
  transition: 0.3s;
}

.header:hover::after {
  width: 98%;
  transition: 0.3s ease-in;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70vw;
  padding: 1em;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin: 0.8rem 1vw;
  border-radius: 20px;
  height: 200px;
  background-color: #000;
  color: white;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
}

.card p {
  padding-left: 10px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #da544f;
  overflow: hidden;
  width: 30%;
  height: 100%;
  transition: 0.5s ease;
}

.slide {
  display: none;
}

.overlay h2 {
  font-size: 2.3rem;
  margin-left: 15px;
  margin-top: 8px;
}

.card:hover > p:first-of-type {
  position: absolute;
  padding-top: 25px;
  transition: 0.5s ease;
}

.card:hover > p:nth-of-type(2n) {
  position: relative;
  display: none;
}

.card:hover .overlay {
  width: 100%;
  transition: 0.5s ease;
}

.card:hover .slide {
  display: contents;
  transition: 0.5s ease;
}

.slide > button {
  border: none;
  position: absolute;
  margin-left: 45%;
  margin-top: 10em;
  width: 100px;
  padding: 4px;
  font-size: 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.card:hover .overlay > h2 {
  transform: translate(5%, 130%);
  transition: 0.5s ease;
}

.card:hover .overlay > .Date {
  transform: translate(5%, 150%);
  transition: 0.5s ease;
}

.image-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  margin: 2vh 3vw;
  height: 370px;
  width: 255px;
  border-radius: 16px;
  background: url(./../../assets/home/SU_Initiatives/image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bottom {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  margin-top: 0;
  height: 36%;
  width: 100%;
  padding: 6px 1vw;
  font-family: "Montserrat", sans-serif;
  backdrop-filter: blur(8px);
  background: rgba(59, 56, 56, 0.6);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  transition: 0.4s ease;
}

.btn {
  position: absolute;
  background-color: #da544f;
  padding: 0.2rem 1.2rem;
  height: 30px;
  right: 0;
  bottom: 0;
  border-radius: 16px;
}

.btn i {
  color: white;
  margin: auto;
}

.contri-btn {
  margin: 9vh auto 0.5vh;
  padding: 1.4vh 1.8vw;
  font-size: 1.1rem;
  color: white;
  border: none;
  background-color: #da544f;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
}

.mobile-left{
  
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: red;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 10px;
  position: absolute;
  margin-right: 10px;
  z-index: 1;
  
}
.mobile-right{
  
  align-items: center;
  justify-content: center;
  background-color: white;
  color: red;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 10px;
  position: absolute;
  right: 0;
  margin-left: 10px;
  z-index: 1;
  
  
  

}

/* contributors */

.flex-container-contri {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: rgb(214, 229, 245); */
  margin: auto;
  width: 60%;
  position: relative;
  padding-top: 3vh;
  padding-bottom: -2vh;
  /* left: 3% */
  width: 75%;
}

.flex-container-contri > div {
  background-color: #f1f1f1;
  width: 15vh;
  text-align: center;
  line-height: 10vh;
  /* font-size: 30px; */
  margin: auto;
}

.dot {
  flex-basis: calc(50% - 20px); /* Adjust the flex-basis for two logos in a row */
  max-width: calc(50% - 20px); /* Adjust the max-width for two logos in a row */
  margin: 10px; /* Add some gap between two rows without affecting the borders */
  height: 15vh;
  background-color: transparent; /* Set the background to transparent */
  box-shadow: none; /* Remove the box shadow */
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000; /* Add border style */
  border-radius: 8px; 
}
.dot img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

@media all and (max-width: 1024px) {
  .contri-btn {
    margin: 15vh auto -25vh;
  }

  .flex-container-contri {
    margin-top: 5vh;
  }
}
@media (max-width: 767px) {
  .dot {
    flex-basis: calc(50% - 20px); /* Adjust the flex-basis for two logos in a row */
    max-width: calc(50% - 20px); /* Adjust the max-width for two logos in a row */
  }
}
  
  

@media (min-width: 768px) and (max-width: 1023px) {
  .dot {
    flex-basis: calc(33.33% - 40px); /* Adjust the flex-basis to leave space for margin */
    max-width: calc(33.33% - 40px); /* Adjust the max-width to leave space for margin */
  }
}
@media (min-width: 1024px) {
  .dot {
    flex-basis: calc(25% - 40px); /* Adjust the flex-basis to leave space for margin */
    max-width: calc(25% - 40px); /* Adjust the max-width to leave space for margin */
    width: 150%;
    height: auto;
  }
  
  .start-image {
      top: 60px; /* Set the top position to 100 pixels when the screen width is less than 1000px */
  }
  
}
@media (min-width: 1200px) {
  .main-text{
    padding-left: 45px;
  }
}
@media (min-width: 901px) and (max-width: 1200px)  {
  .main-text{
    padding-left: 45px;
  }

}
@media (min-width: 601px) and (max-width: 900px) {
  .main-text{
    top: 100px;
   padding-left: 30px;
  }
}


@media (min-width: 450px) and (max-width: 600px) {
  .main-text{
    top: 200px;
    padding-left: 25px;
  }
  
}
@media (max-width: 450px) {
  .main-text{
    top: 180px;
    padding-left: 10px;
  }
}


@media (max-width: 1000px) {
  .mobile-right-index-1 {
    display: none; /* Show the index + 1 button for screens below 1000px */
    /* Set a higher z-index value for the index + 1 button */
  }
}
















@media all and (max-width: 375px) {
  

  dot3 {
    /* visibility: hidden; */
  }

  dot4 {
    /* visibility: hidden; */
  }
}

.bottom h5 {
  margin: 5px auto;
  line-height: 23px;
  font-weight: bold;
}

.bottom p {
  margin-top: -3px;
  font-size: 0.6em;
}

@media (max-width: 1300px) {
  .container {
    width: 100vw;
  }

  .more {
    right: 3vw !important;
  }

  .more-left {
    left: 3vw !important;
  }

  .image-card {
    margin: 2vh 2vw;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 100vw;
    padding: 0.5em;
    margin-bottom: -5em;
  }

  .card {
    color: black;
    border: 1px solid #da544f;
    background-color: white;
    width: 500px !important;
    height: 200px;
  }

  .overlay h2 {
    color: white;
    text-align: center;
    margin-top: 40%;
    margin-right: 15%;
  }

  .Date {
    color: white;
    text-align: center;
    margin-right: 10%;
  }

  .more {
    display: none;
  }

  .card:hover .overlay > h2 {
    transform: translate(-150px, -140px);
    transition: 0.5s ease;
  }

  .card:hover .overlay > .Date {
    transform: translate(-160px, -138px);
    transition: 0.5s ease;
  }
   
  .start-image{
    top: 50;
      
    }
  
  
}
@media (max-width: 601px) {
  .student-text{
    color: black;
    margin-top: 5px;
  }
}

@media (max-width: 700px) {
  .card {
    width: 360px !important;
  }

  .more {
    display: none;
  }

  .card:hover .overlay > h2 {
    transform: translate(-100px, -85px);
    transition: 0.5s ease;
  }

  .card:hover .overlay > .Date {
    transform: translate(-105px, -85px);
    transition: 0.5s ease;
  }
}

@media (min-width: 1600px) {
  .more {
    right: 15vw !important;
  }
}

.scroll-text {
  width: 100%;
  display: flex;
  /* animation: tickerh linear 40s infinite;
  animation-delay: -40s; */

  /* overflow: hidden;
  flex-direction: row;
  animation: scroll 25s linear infinite; */
}

.scroll-text div {
  animation: animate 40s linear infinite;
  animation-delay: -40s;
}

.scroll-text div:nth-child(2) {
  animation: animate2 40s linear infinite;
  animation-delay: -20s;
}

.hitem {
  flex-shrink: 0;
  width: auto;
  box-sizing: border-box;
  /* padding: 10px; */
  text-align: center;
}

.hwrap {
  overflow: hidden;
  /* HIDE SCROLL BAR */
}

/* @keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
} */

/* @keyframes tickerh {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(-30%, 0, 0);
  }
}

@keyframes tickerh1 {
  0% {
    transform: translate3d(0%, 0, 0);
  }

  100% {
    transform: translate3d(-200%, 0, 0);
  }
} */

@keyframes animate {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(-200%);
  }
}
