@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

.more {
  position: absolute;
  background: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0.5px 0.5px 8px rgba(7, 5, 5, 0.2);
  cursor: pointer;
  border: none;
}

.more i {
  margin: auto 5px;
  color: #da544f;
}

.header {
  display: inline-block;
  margin: 1vh 4vw;
  margin-top: 20vh;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 2.2rem;
  position: relative;
  cursor: pointer;
}

.header::after {
  content: "";
  height: 5px;
  width: 55%;
  background: linear-gradient(90deg, #ce19c9, #da544f);
  position: absolute;
  left: 4px;
  border-radius: 1px;
  bottom: -4px;
  transition: 0.3s;
}

.header:hover::after {
  width: 98%;
  transition: 0.3s ease-in;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70vw;
  padding: 1em;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin: 0.8rem 1vw;
  border-radius: 20px;
  height: 200px;
  background-color: #000;
  color: white;
  overflow: hidden;
  border: none;
  transition: 0.5s ease;
}

.card p {
  padding-left: 10px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #da544f;
  overflow: hidden;
  width: 30%;
  height: 100%;
  transition: 0.5s ease;
}

.slide {
  display: none;
}

.overlay h2 {
  font-size: 2.3rem;
  margin-left: 15px;
  margin-top: 8px;
}

.card:hover>p:first-of-type {
  position: absolute;
  padding-top: 25px;
  transition: 0.5s ease;
}

.card:hover>p:nth-of-type(2n) {
  position: relative;
  display: none;
}

.card:hover .overlay {
  width: 100%;
  transition: 0.5s ease;
}

.card:hover .slide {
  display: contents;
  transition: 0.5s ease;
}

.slide>button {
  border: none;
  position: absolute;
  margin-left: 45%;
  margin-top: 10em;
  width: 100px;
  padding: 4px;
  font-size: 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.card:hover .overlay>h2 {
  transform: translate(5%, 130%);
  transition: 0.5s ease;
}

.card:hover .overlay>.Date {
  transform: translate(5%, 150%);
  transition: 0.5s ease;
}

.image-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  margin: 2vh 3vw;
  height: 370px;
  width: 255px;
  border-radius: 16px;
  background: url(./../../assets/home/SU_Initiatives/image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bottom {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  margin-top: 0;
  height: 36%;
  width: 100%;
  padding: 6px 1vw;
  font-family: "Montserrat", sans-serif;
  backdrop-filter: blur(8px);
  background: rgba(59, 56, 56, 0.6);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.btn {
  position: absolute;
  background-color: #da544f;
  padding: 0.2rem 1.2rem;
  height: 23%;
  right: 0;
  bottom: 0;
  border-radius: 16px;
}

.btn i {
  color: white;
  margin: auto;
}

.contri-btn {
  margin: 9vh auto 0.5vh;
  padding: 1.4vh 1.8vw;
  font-size: 1.1rem;
  color: white;
  border: none;
  background-color: #da544f;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
}

/* contributors */

.flex-container-contri {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(214, 229, 245); */
  margin: auto;
  width: 60%;
  position: relative;
  padding-top: 3vh;
  left: 3%
}

.flex-container-contri>div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  margin: auto;

}

.dot {
  padding: 0 auto;
  height: 15vh;
  /* width: 22vh; */
  /* background-color: #bbb; */
  border-radius: 50%;
  display: inline-block;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.bottom h5 {
  margin: 5px auto;
  line-height: 23px;
  font-weight: bold;
}

.bottom p {
  margin-top: -3px;
  font-size: 0.6em;
}

@media (max-width: 1300px) {
  .container {
    width: 100vw;
  }

  .more {
    right: 3vw !important;
  }

  .more-left {
    left: 3vw !important;
  }

  .image-card {
    margin: 2vh 2vw;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 100vw;
    padding: 0.5em;
    margin-bottom: -5em;
  }

  .card {
    color: black;
    border: 1px solid #da544f;
    background-color: white;
    width: 500px !important;
    height: 200px;
  }

  .overlay h2 {
    color: white;
    text-align: center;
    margin-top: 40%;
    margin-right: 15%;
  }

  .Date {
    color: white;
    text-align: center;
    margin-right: 10%;
  }

  .more {
    display: none;
  }

  .card:hover .overlay>h2 {
    transform: translate(-150px, -140px);
    transition: 0.5s ease;
    }
  
    .card:hover .overlay>.Date {
    transform: translate(-160px, -138px);
    transition: 0.5s ease;
    }
  
  
  

}

@media (max-width: 700px) {
  .card {
    width: 360px !important;
  }

  .more {
    display: none;
  }

  .card:hover .overlay>h2 {
    transform: translate(-100px, -85px);
    transition: 0.5s ease;
    }
  
    .card:hover .overlay>.Date {
    transform: translate(-105px, -85px);
    transition: 0.5s ease;
    }
}

@media (min-width: 1600px) {
  .more {
    right: 15vw !important;
  }
}

.scroll-text {
  display: flex;
  animation: tickerh linear 40s infinite;
  animation-delay: -40s;

  /* overflow: hidden;
  flex-direction: row;
  animation: scroll 25s linear infinite; */
}

.scroll-text div:nth-child(4) {
  animation: tickerh1 linear 40s infinite;
  animation-delay: -20s;
}

.hitem {
  flex-shrink: 0;
  width: auto;
  box-sizing: border-box;
  /* padding: 10px; */
  text-align: center;
}

.hwrap {
  overflow: hidden;
  /* HIDE SCROLL BAR */
}

/* @keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
} */

@keyframes tickerh {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(-30%, 0, 0);
  }
}

@keyframes tickerh1 {
  0% {
    transform: translate3d(0%, 0, 0);
  }

  100% {
    transform: translate3d(-200%, 0, 0);
  }
}