@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.heading{
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;
    font-weight: bold;
    font-size: 2.1rem;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
    margin: auto;
}

.main{
    margin: 2rem 4rem;
}

.background {
    height: 120px;
    width: 120px;
    border-radius: 15px;
    box-shadow: 2px 2px 20px 1px rgba(0,0,0,0.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.name{
    width: 120px;
    text-align: center;
    padding: 10px 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}