@media (min-width:900px){
    .close{
        display: none;
    }
    .right-navbar{
        display: none;
    }
}


.close{
    display: none;
}
.right-navbar{
    width: 40%;
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 10px 10px #000;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.right-navbar ul{
    margin-top: 50px;
    list-style: none;
    display: flex;
    flex-flow:column nowrap;
    text-align: center;

}
.nav-link{
    color: rgb(9, 255, 0);
    font-weight: bold;
}
.nav-link:hover{
    color: #ce19c9;

}
.right-navbar ul li{
    padding: 0px 10px;
    color: black;
}
