.welcome-title {
    text-align: center;
    font-weight: 700;
    position: absolute;
    top: 7vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-subtitle {
    text-align: center;
    font-weight: 200;
    font-size: 1.5rem;
    margin-bottom: 10vh;
    position: absolute;
    top: 13vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;

}

.image1 {
    margin: 8vh 3vw;
    height: 350px;
    width: 15%;
    border-radius: 6rem;
    border-bottom-right-radius: 0px;
    background: url(./../../assets/home/WelcomeOnBoard/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 0.4rem solid whitesmoke;
    /* change the color to white after we get the bg image: the svg */
    position: absolute;
    top: 25vh;
    left: 5vh;

}

.image2 {
    margin: 2vh 3vw 0 0;
    height: 350px;
    width: 15%;
    border-radius: 6rem;
    border-bottom-left-radius: 0px;
    background: url(./../../assets/home/WelcomeOnBoard/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 0.4rem solid whitesmoke;
    position: absolute;
    top: 22.5vh;
    left: 40vh;
}

.welcome-text {
    margin-top: 5vh;
    font-size: 1rem;
    position: absolute;
    color: white;
    top: 25vh;
    left: 40%;
    width: 53%;

}