.welcome-freshers {
    height: 80vh;
    width: 100vw;
    position: relative;
}


.welcome-freshers-text {

    position: relative;
    top: 15vh;
    width: 40%;
    left: 10vw;
    color: white;
    font-size: 1.5rem;
}

.mobileuiwelcomeimg {
    visibility: hidden;
}

.welcomeimg {
    visibility: visible;
}

.explore-btn {
    padding: 1.2vh 1.8vw;
    font-size: 1.1rem;
    color: white;
    border: none;
    background-color: #da544f;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    margin-top: 17.5vh;
    width: 10%;
    left: 10%;
}

.group_photo {
    position: absolute;
    right: 5vh;
    top: 1vh;
    height: 60vh;
}


@media all and (max-width: 1440px) {
    .welcome-freshers {
        height: 600px;
    }

    .welcome-freshers-text {
        font-size: 1.2rem;
        top: 10vh;
    }

    .explore-btn {
        left: 10%;
        font-size: 1.5rem;
        padding: 1vh 2vw;
        margin-top: 11vh;
    }

    .group_photo {
        height: 430px;
        right: 120px;
    }
}

@media all and (max-width: 1200px) {
    .welcome-freshers {
        height: 50vh;
    }

    .welcome-freshers-text {
        font-size: 1.2rem;
        top: 10vh;
    }

    .explore-btn {
        font-size: 1.2rem;
        padding: 1vh 2vw;
        margin-top: 11vh;
    }

    .group_photo {
        height: 50vh;
    }
}

@media all and (max-width: 1024px) {
    .welcome-freshers {
        height: 50vh;
    }

    .welcome-freshers-text {
        font-size: 1rem;
        top: 10vh;
    }

    .explore-btn {
        font-size: 1rem;
        padding: 1vh 1.5vw;
        margin-top: 11vh;
        left: 12vh;
    }

    .group_photo {
        height: 45vh;
        width: 38%;
    }
}

@media all and (max-width: 768px) {
    .welcome-freshers {
        height: 60vh;
    }

    .welcome-freshers-text {
        font-size: 0.75rem;
        top: 10vh;
    }

    .explore-btn {
        text-align: center;
        font-size: 1.2rem;
        padding: 1.5vh 2vw;
        width: 20%;
        margin-top: 13vh;
        left: 16vh;
    }

    .group_photo {
        height: 45vh;
    }
}

@media all and (max-width: 425px) {
    .welcome-freshers {
        height: 70vh;
    }

    .welcome-freshers-text {
        font-size: 0.85rem;
        left: 10vh;
        top: 15vh;
    }

    .explore-btn {
        font-size: 1rem;
        padding: 1.2vh 1.8vw;
        margin-top: 15vh;
        left: 10vh;
        width: 15vh;
    }

    .group_photo {
        visibility: hidden;
    }

    .mobileuiwelcomeimg {
        visibility: visible;
        z-index: -1;
        position: absolute;
        top: 10vh;
    }

    .welcomeimg {
        visibility: hidden;
    }

}

@media all and (max-width: 375px) {
    .welcome-freshers {
        height: 70vh;
    }

    .welcome-freshers-text {
        font-size: 0.75rem;
        left: 10vh;
        top: 15vh;
    }

    .explore-btn {
        font-size: 0.95rem;
        padding: 1.2vh 1.8vw;
        margin-top: 15vh;
        left: 10vh;
        width: 15vh;
    }

    .group_photo {
        visibility: hidden;
    }

    .mobileuiwelcomeimg {
        visibility: visible;
        z-index: -1;
        position: absolute;
        top: 10vh;
    }

    .welcomeimg {
        visibility: hidden;
    }

}

@media all and (max-width: 345px) {
    .welcome-freshers {
        height: 70vh;
    }

    .welcome-freshers-text {
        font-size: 0.65rem;
        left: 10vh;
        top: 15vh;
    }

    .explore-btn {
        font-size: 0.95rem;
        padding: 1.2vh 1.8vw;
        margin-top: 15vh;
        left: 10vh;
        width: 15vh;
    }

    .group_photo {
        visibility: hidden;
    }

    .mobileuiwelcomeimg {
        visibility: visible;
        z-index: -1;
        position: absolute;
        top: 10vh;
    }

    .welcomeimg {
        visibility: hidden;
    }

}