.welcome-title {
  text-align: center;
  font-weight: 700;
  position: absolute;
  top: 7vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-subtitle {
  text-align: center;
  font-weight: 200;
  font-size: 1.5rem;
  margin-bottom: 10vh;
  position: absolute;
  top: 13vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vh;
  position: relative;
}

.image1 {
  margin-right: 10px;
  height: 350px;
  width: 15%;
  border-radius: 6rem;
  border-bottom-right-radius: 0px;
  background: url(./../../assets/home/WelcomeOnBoard/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 0.4rem solid whitesmoke;
  /* change the color to white after we get the bg image: the svg */
  position: absolute;
  top: 25vh;
  left: 5vh;
}

.image2 {
  margin-left: 10px;
  height: 350px;
  width: 15%;
  border-radius: 6rem;
  border-bottom-left-radius: 0px;
  background: url(./../../assets/home/WelcomeOnBoard/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 0.4rem solid whitesmoke;
  position: absolute;
  top: 22.5vh;
  left: 40vh;
}

.welcome-text {
  margin-top: 4vh;
  font-size: 1.3rem;
  position: absolute;
  color: white;
  top: 25vh;
  left: 60%;
  width: 53%;
}

@media all and (max-width: 1536px) {
  .welcome-title {
    font-weight: 700;
  }

  .welcome-subtitle {
    font-weight: 100;
    top: 12vh;
  }

  .image1 {
    margin-right: 1vh;
    left: 80px;
    height: 360px;
    top: 180px;
  }

  .image2 {
    margin-left: 1vh;
    left: 300px;
    height: 360px;
    top: 120px;
  }

  .welcome-text {
    margin-top: 3vh;
    top: 150px;
    width: 52%;
    font-size: 1.3em;
    left: 600px;
    color: black;
  }
}


@media all and (max-width: 1200px) {
  .welcome-title {
    font-weight: 700;
    top: 5vh;
  }

  .welcome-subtitle {
    font-weight: 100;
    top: 9vh;
  }

  .image1 {
    margin-right: 1vh;
    left: 5vh;
    height: 35vh;
    top: 18vh;
  }

  .image2 {
    margin-left: 1vh;
    left: 30vh;
    height: 35vh;
    top: 13vh;
  }

  .welcome-text {
    margin-top: 3vh;
    top: 16vh;
    width: 50%;
    font-size: 2.2vh;
    left: 500px;

  }
}


@media all and (max-width: 900px) {
  .welcome-title {
    font-weight: 700;
    font-size: x-large;
    top: 4.5vh;
  }

  .welcome-subtitle {
    font-weight: 100;
    font-size: large;
    top: 8vh;
  }

  .image1 {
    margin-right: 1vh;
    left: 5vh;
    height: 27.5vh;
    top: 16vh;
  }

  .image2 {
    margin-left: 1vh;
    left: 20vh;
    height: 27.5vh;
    top: 12vh;
  }

  .welcome-text {
    margin-top: -1.5vh;
    top: 14vh;
    width: 50%;
    font-size: 0.8rem;
    left: 40vh;
  }
}


@media all and (max-width: 600px) and (min-width: 450px) {
  .welcome-title {
    font-weight: 700;
    font-size: x-large;
    top: 4.5vh;
  }

  .welcome-subtitle {
    font-weight: 100;
    font-size: large;
    top: 8vh;
  }

  .image1 {
    margin-right: 1vh;
    left: 5vh;
    height: 27.5vh;
    top: 16vh;
  }

  .image2 {
    margin-left: 1vh;
    left: 60vh;
    height: 27.5vh;
    top: 12vh;
    
  }

  .welcome-text {
    margin-top: -1.5vh;
    top: 14vh;
    width: 58%;
    font-size: 0.8rem;
    left: 18vh;
    color: black;

  }
  .bg1{
   margin-top: 190px;
  }
  
  
  
}

@media all and (max-width: 451px) {

  /* ../../assets/home/WelcomeOnBoard/bg1.svg */
  .bg1 {
    src: url(../../assets/home/WelcomeOnBoard/mobile_bg2.svg);
    margin-top: 220px;
    
  }

  .bg2 {
    src: url(../../assets/home/WelcomeOnBoard/mobile_bg2.svg);
    margin-top: -280px;

  }

  .welcome-container {
    height: 60vh;
  }

  .welcome-title {
    text-align: center;
    font-weight: 500;
    font-size: large;
    top: 4.5vh;
    
  }

  .welcome-subtitle {
    text-align: center;
    font-weight: 100;
    font-size: medium;
    top: 8vh;
    
  }

  .image1 {
    margin-right: 1vh;
    left: 10vh;
    height: 28vh;
    width: 16vh;
    top: 53vh;
    border: 0.2rem solid whitesmoke;
    

  }

  .image2 {
    margin-left: 1vh;
    left: 46%;
    height: 28vh;
    width: 16vh;
    top: 51vh;
    border: 0.2rem solid whitesmoke;
    
  }

  .welcome-text {
    margin-top: 6vh;
    top: 8vh;
    font-size: 12px;
    left: 15%;
    width: 75%;
    color: black;
  } 

  
}