@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
.outer{
    background-color: rgb(245, 245, 245);
    padding-top: 70px;
}
.heading{
    display: inline-block;
    margin: -10vh 4vw;
    margin-bottom: 4vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 2.2rem;
    position: relative;
    cursor: pointer;
}

/* .heading::after{
    content: '';
    height: 5px;
    width: 55%;
    background: linear-gradient(90deg, #CE19C9, #DA544F) ;
    position: absolute;
    left: 4px;
    border-radius: 1px;
    bottom: -4px;
    transition: 0.3s;
} */
.assocs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    max-width: 80vw;
    justify-content: center;
    margin: auto;
}
.assoc{
    width: 12vw;
    margin: 3vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    /* margin: 2rem 4rem; */
}
.dispbox{
    /* width: 10%; */
}
.logo{
    width: 12vw;
    height: 12vw;
    border-radius: 15px;
    box-shadow: 2px 2px 20px 1px rgba(0,0,0,0.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoimg{
    width: 9vw;
    height: auto;
    max-height: 11.5vw;
}
.assoc_title{
    width: 12vw;
    margin: auto;
    text-align: center;
    padding: 10px 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
@media only screen and (max-width:600px) {
    .heading{
        font-size: large;
    }
    .assocs{
        width: 90vw;
        max-width: 90vw;
    }
    .assoc{
        width: 27vw;
        margin-left: 8vw;
        margin-right: 8vw;
    }
    .logo{
        background: white;
        opacity: 100%;
        width: 27vw;
        height: 27vw;
    }
    .logoimg{
        background: white;
        opacity: 100%;
        width: 19vw;
        height: auto;
        max-height: 25vw;
    }
    .assoc_title{
        width: 27vw;
        font-size: small;
        font-weight: 600;
    }
}