@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
.outer{
    background-color: rgb(239,236,235);
    padding-top: 70px;
}
.heading{
    display: inline-block;
    margin: 1vh 4vw;
    margin-top: 20vh;
    margin-bottom: 8vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 2.2rem;
    position: relative;
    cursor: pointer;
}

.heading::after{
    content: '';
    height: 5px;
    width: 55%;
    background: linear-gradient(90deg, #CE19C9, #DA544F) ;
    position: absolute;
    left: 4px;
    border-radius: 1px;
    bottom: -4px;
    transition: 0.3s;
}
.assocs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 90%; */
    max-width: 90%;
    justify-content: center;
    margin: auto;
}
.assoc{
    margin: 2rem 4rem;
}
.logo{
    height: 120px;
    width: 120px;
    border-radius: 15px;
    box-shadow: 2px 2px 20px 1px rgba(0,0,0,0.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoimg{
    width: 100px;
    max-height: 100px;
}
.assoc_title{
    width: 120px;
    text-align: center;
    padding: 10px 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}