.hyperloopsvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -240%;
    right: -8%;
}
.bhcgsvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -290%;
    right: 0%;
}
.aeolussvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -210%;
    left: -8%;
}
.cruxsvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -260%;
    left: -9%;
}
.sedssvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -295%;
    left: 11%;
}
.chemicalsvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -90%;
    left: -4%;
}
.csasvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -55%;
    left: -7%;
}
.alchemysvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -155%;
    left: -10%;
}
.axiomsvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -130%;
    right: -11%;
}
.arcsvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -180%;
    right: -8%;
}
.civilsvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -60%;
    right: -7%;
}
.dramasvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -40%;
    left: -5%;
}
.shadessvg{
    transform: scale(0.5);
    position: absolute;
    bottom: -55%;
    right: -10%;
}
.comedysvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -100%;
    left: -11%;
}
.journalsvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -95%;
    right: -8%;
}
.photogsvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -155%;
    left: -10%;
}
.vfxsvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -145%;
    right: -9%;
}
.moviesvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -190%;
    left: -4%;
}
.dasvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -190%;
    right: -9%;
}
.elassvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -230%;
    left: 11%;
}
.saflsvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -223%;
    right: 5%;
}
.cricketsvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -40%;
    left: -8%;
}
.footballsvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -40%;
    right: -6%;
}
.hockeysvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -100%;
    left: -8%;
}
.snookersvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -105%;
    right: -11%;
}
.bodysvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -155%;
    left: -8%;
}
.throwsvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -155%;
    right: -9%;
}
.khosvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -210%;
    left: -4%;
}
.carromsvg{
    transform: scale(0.6);
    position: absolute;
    bottom: -210%;
    right: -8%;
}
.dlonsvg{
    transform: scale(0.5);
    position: absolute;
    bottom: -270%;
    left: 11%;
}
.skatingsvg{
    transform: scale(0.5);
    position: absolute;
    bottom: -255%;
    right: 5%;
}