.footer-container{
    margin-top: 100px;
    /* background-color: orange; */
    display: flex;
    /* position: fixed; */
    background-size: cover;
    /* padding-top: 100px; */
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer-outer{
    margin-top: 150px;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.footer-col{
    /* margin: 25px; */
    color: white;
    display: flex;
    flex-direction: column;
    width: 40%;
}
.footer-heading{
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 400;
}
.footer-subcol{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    /* margin: 50px; */
}
.footer-desc{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
@media only screen and (max-width:1350px){
    .footer-col{
        width: 42%;
    }
}
@media only screen and (max-width:1250px){
    .footer-col{
        width: 45%;
        margin: 0;
    }
}
@media only screen and (max-width:1150px){
    .footer-outer{
        padding: 75px;
        padding-top: 0;
        padding-bottom: 25px;
    }
}
@media only screen and (max-width:950px){
    .footer-outer{
        padding: 50px;
        padding-top: 0;
        padding-bottom: 25px;
    }
}
@media only screen and (max-width:900px){
    .footer-outer{
        flex-direction: column;
        align-content: center;
        padding: none;
    }
    .footer-col{
        margin-top: 50px;
        width: fit-content;
    }
    .footer-subsubcol2{
        margin-left: 100px;
    }
}
@media only screen and (max-width:550px){
    .footer-subsubcol2{
        margin-left: 50px;
    }
}
@media only screen and (max-width:550px){
    /* .footer-desc{
        flex-direction: column;
    }
    .footer-subsubcol2{
        margin-left: 0;
    } */
    .footer-heading{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .footer-subcol{
        font-size: 15px;
    }
}
@media only screen and (max-width:400px){
    .footer-outer{
        padding: 0;
    }
}
@media only screen and (max-width:350px){
    .footer-desc{
        flex-direction: column;
    }
    .footer-subsubcol2{
        margin-left: 0;
    }
}