.studentlifefont {
  font-size: 8px;
}

.studentlifecontent {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  /* border: 2px solid red; */
  min-height: 60vh;
  align-items: center;
}
.studentlifeleft {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: -250px;
  /* border: 2px solid red; */
}
.studentlifebottomheading {
  margin: auto;
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  /* border: 2px solid red; */
  z-index: -1;
  font-size: 80%;
}
.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  color: #d1c5c5;
}
.studentlifebottomheading h1 {
  font-family: "Montserrat";
  font-size: 55em;

  opacity: 0.1;
  font-weight: bold;
  letter-spacing: 3vw;
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 100%;
  margin: auto;
}
.studentliferight {
  display: flex;
  flex-direction: column;
  width: 37%;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3.8em;
  /* border: 2px solid red; */
}
.studentliferight h1 {
  font-size: 2.9em;
  font-family: "Montserrat";
  padding-bottom: 0.6em;
  font-weight: 500;
}
.studentlifeleft p {
  font-size: 1.6em;
}
.studentlifeleft h1 {
  font-weight: bolder;
  font-family: "Montserrat";
}
.studentlifeback {
  display: flex;
  width: 79%;
  align-items: center;
  margin: auto;
  margin-top: 14vh;
}
.studentlifeback i {
  cursor: pointer;
}
.studentlifeback h6 {
  cursor: pointer;
}
#padding {
  margin-bottom: 10px;
}
.studentlifesection:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgb(222, 84, 79);
  z-index: -1;
  clip-path: circle(65.2% at -2% 53%);
}
@media only screen and (max-width: 1450px) {
  .studentlifebottomheading {
    height: 270px;
    font-size: 76%;
  }
  .studentlifecontent {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 10px;

    min-height: 0vh;
    align-items: none;
  }
}
@media only screen and (max-width: 1180px) {
  .studentlifefont {
    font-size: 7px;
  }
  .studentlifebottomheading {
    height: 250px;
    font-size: 75%;
  }
}
@media only screen and (max-height: 560px) {
  .studentlifebottomheading {
    max-height: 200px;
  }
}
@media only screen and (max-width: 993px) {
  .studentlifebottomheading {
    height: 230px;
    font-size: 5px;
  }
  .studentlifecontent {
    width: 90%;
  }
  .studentlifeback {
    margin-top: 130px;
  }
  .studentlifesection:before {
    clip-path: circle(65.2% at -3% 56%);
  }
  .studentlifeback {
    width: 90%;
  }
}
@media only screen and (max-width: 943px) {
  .studentlifebottomheading {
    height: 210px;
    font-size: 70%;
  }
  .studentlifebottomheading h1 {
    letter-spacing: 0px;
  }
  .studentlifefont {
    font-size: 40%;
  }
}
@media only screen and (max-width: 770px) {
  .studentlifefont {
    font-size: 35%;
  }
  .studentlifebottomheading {
    height: 210px;
    font-size: 70%;
  }
}
@media only screen and (max-width: 690px) {
  .studentlifefont {
    font-size: 35%;
  }
  .studentlifebottomheading {
    height: 180px;
    font-size: 65%;
  }

  .studentliferight {
    width: 45%;
  }
  .studentlifeleft {
    width: 45%;
  }
}
@media only screen and (max-width: 625px) {
  .studentlifebottomheading {
    height: 170px;
    font-size: 60%;
  }

  .studentlifesection:before {
    clip-path: circle(65.2% at -13% 53%);
  }
}
@media only screen and (max-width: 555px) {
  .studentlifefont {
    font-size: 25%;
  }
  .studentlifebottomheading {
    height: 140px;
    font-size: 70%;
  }
}
@media only screen and (max-width: 555px) {
  .studentlifecontent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0px; */
    margin-top: 10px;
  }
  .studentliferight {
    width: 80%;
    margin-top: 10px;
  }
  .studentlifeleft {
    width: 80%;
  }
  .studentlifefont {
    font-size: 40%;
  }
  .studentlifebottomheading {
    height: 140px;
    font-size: 60%;
  }
  .studentlifebottomheading {
    height: 140px;
    font-size: 40%;
  }
}
@media only screen and (max-width: 430px) {
  .studentlifebottomheading {
    height: 120px;
    font-size: 35%;
  }
}
@media only screen and (max-width: 380px) {
  .studentlifebottomheading {
    height: 100px;
    font-size: 30%;
  }
}
