.fgp-container{
    margin: 4em 0;
    padding: 0 8em;
    text-align: justify;
}

.content{
    padding:2em 0;
}

.fgp-titles{
    text-align: center;
    font-size: 3em;
}

.fgp-text{
    margin:2em 0;
}

.fgp-button-cover{
    display: flex;
    justify-content: center;
}

.fgp-button{

    padding: 0.6em 1em;
    border-radius: 10px;
    border-width: 1px;
    border-color: #FFC300;
    background-color: #FFC300;
    transition: 0.2s;
}

.fgp-button:hover{
    background-color: white;
    color: #FFC300;
}

.accordion{
    max-width: 100%;
}


.accordion .context-box{
    position: relative;
    border: 2px solid #FFC300;
    border-radius: 20px;
    margin: 1em 1.2em;
    padding: 1em;
}

.accordion-label{
    position: relative;
    padding-left: 1em;
    cursor: pointer;
}


.accordion .context-box .accordion-label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right:20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .context-box.active .accordion-label::before{
    content: '-';
}

.accordion .context-box .accordion-text{
    border-left: 4px solid #FFC300;
    margin-left: 1em;
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}


.accordion .context-box.active .accordion-text{
    height: auto;
    padding: 10px;
} 

.left-boxes{
    position:absolute;
    left :0;
    transform: translateX(-60%);
}

.right-boxes{
    position:absolute;
    right :0;
    transform: translateX(60%);
}


@media only screen and (min-width:600px){
    .fgp-container{
        padding: 0 12em;
    }

    .fgp-button-cover{
        display: flex;
        justify-content: flex-end;
    }

    .fgp-text{
        margin:3em 0;
    }
    
    .left-boxes{
        transform: translateX(-40%);
    }
    
    .right-boxes{
        transform: translateX(40%);
    }
}


