.outletleftbox {
  width: 60%;
  /* border: 2px solid red; */
  /* height: 200px; */
  clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
  padding: 1% 10%;
  background: #ffffff 0% 0% no-repeat padding-box;
  filter: drop-shadow(8px 16px 40px #6d8dad33);
  transform: scale(1.2);
}
#one {
  width: 352px;
  height: 130%;
  position: relative;
  top: 0px;
  z-index: -1;
  margin-top: -52px;
  margin-left: 18px;
}
.outletouterbox {
  content: "";
  position: relative;
  width: 100%;
  filter: drop-shadow(8px 16px 40px #6d8dad33);
  height: 250px;
  background-color: #ed8f72;
  top: 0px;
  z-index: -1;
}
.outletouterbox {
  display: flex;
  /* flex-direction: column; */
  margin-top: 200px;
}
.outletimg {
  width: 400px;
  height: 157%;
  position: relative;
  top: 0px;
  z-index: -1;
  margin-top: -85px;
  margin-left: -10px;
}
.revoutletleftbox {
  width: 65%;
  /* border: 2px solid red; */
  /* height: 250px; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
  padding: 1% 10%;
  background: #ffffff 0% 0% no-repeat padding-box;
  filter: drop-shadow(8px 16px 40px #6d8dad33);
  transform: scaleY(1.2);
}
.revoutletouterbox {
  content: "";
  position: relative;
  width: 100%;
  filter: drop-shadow(8px 16px 40px #6d8dad33);
  height: 250px;
  background-color: #ed8f72;
  top: 0px;
  z-index: -1;
}
.revoutletouterbox {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 200px;
}
.revoutletimg {
  width: 400px;
  height: 157%;
  position: relative;
  top: 0px;
  z-index: -1;
  margin-top: -85px;
  margin-right: -90px;
}

@media screen and (max-width : 900px){
  .outletouterbox, .revoutletouterbox{
    height: 80vh;
    flex-direction: column;
    margin-top: 0px;
  }
  .outletouterbox{
    clip-path: polygon(0 0, 100% 5%, 100% 90%, 0 100%);
  }
  .revoutletouterbox{
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 95%);
  }
  .outletleftbox{
    width: 90vw;
    box-sizing: border-box;
    position: absolute;
    top: 30%;
  } 
  .revoutletleftbox{
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 30%;
  }
  .outletimg, .revoutletimg{
    opacity: 0.6;
    width: 80%;
    
  }
  
}